* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 200px;
}

.App {
  margin: 3rem 5rem;
}

.shop {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cartContainer {
  min-height: 85vh;
  max-height: 85vh;
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}

.cartContainer__items {
  overflow-y: scroll;
}

.cartItem {
  display: grid;
  align-items: center;
  grid-gap: 20px;
  margin: 1rem 0;
  grid-template-columns: auto 1fr;
}

.cartItem__options {
  display: flex;
  align-items: center;
}

.cartItem__options > * {
  margin-right: 0.5rem;
}
