* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
	margin: 3rem 5rem;
}

.shop {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.cartItem {
	display: grid;
	align-items: center;
	grid-gap: 20px;
	grid-template-columns: auto 1fr;
}